.header {
  background-color: rgba(248, 209, 34, 0.533); /* Setting background color with opacity */
  backdrop-filter: blur(10px); /* Applying blur effect */
}

@media (max-width: 576px) {
  .header {
    background-color: rgba(248, 209, 34, 0.533); /* Setting background color with opacity */
    backdrop-filter: blur(10px); /* Applying blur effect */
  }
}
